@model IEnumerable<SimpleBusinessManager.Relatorios.Saldo>

@{
    ViewBag.Title = "Saldo";
}

@*<h2>Index</h2>*@
<br />
<br />
<p>Clique no nome da coluna para ordenar</p>

<table class="display" id="tabela">
    <thead>
        <tr>
            <th>
                Nº do Pedido
            </th>
            <th>
                Cliente
            </th>
            <th>
               Vendedor
            </th>
            <th>
                Data do Pedido
            </th>
            <th>
                Parcelas
            </th>
            <th>
                Pago
            </th>
            <th>
                Valor Total
            </th>
            <th>
                Valor Recebido
            </th>
            <th>
                Valor Saldo
            </th>
            <th>
                Último Pagto
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PedidoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendedor)
                </td>
                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.DataPedido))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parcelas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pago)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorRecebido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorSaldo)
                </td>
                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.UltimoPagto))
                </td>
            </tr>
        }
    </tbody>

</table>
